@charset "utf-8";

main{padding-top:120px;}

.badges{
  width:130px;
  position:fixed;
  right:5px;top:125px;
  z-index:90;
}
.badges img{
  border-radius:10px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

/* 비주얼영역서식 */
.visual{
  height:646px;
  background:url('../images/visual_bg.jpg');
}
.visual > h2{display:none;}
.visual .inner{
  width:1100px;height:646px;
  margin:0px auto;
  position:relative; /* 자식요소의 기준 */
}
.title, .cup1, .cup1_txt, .cup2, .cup2_txt, .spoon{
  position:absolute;
}
.title{top:40px;left:-10px;}
.cup1{bottom:0px;right:-47px;}
.cup1_txt{top:40px;right:60px;}
.cup2{bottom:0px;right:162px;}
.cup2_txt{top:186px;right:412px;}
.spoon{bottom:0px;left:275px;}
.btn{width: 130px;padding: 10px;
    font-size: 16px;font-weight: 700;
    text-align: center;display: block;
    transition: .4s;
    border-radius: 3px;border: 2px solid #333;}
    
.detail_btn{
  border:4px;  border:2px solid #592b18;
  color:#592b18;
  transform: translateX(130px);
}
.btn:hover{
  color:#fff;
  background:#592b18;
}
.fadeIn{
  /* display:none; 애니메이션 안먹힘 */
  opacity: 0;
}

/* 공지사항 서식 */
.notice{
  height:62px;
  background: rgb(51,51,51);
  background: linear-gradient(90deg, rgba(51,51,51,1) 61.5%, rgba(246,245,239,1) 61.5%);
}
.n_inner{
  width:1100px;
  margin:0px auto;
  overflow: hidden;
  display:flex;
  /* height: 62px; */
}
.n_inner__left{
  color: #fff;
  display: flex;
  width:70%;
  /* border:3px solid #f00; */
  background-color: #333;
}
.n_inner__right{
  width:30%;
  display: flex;
  justify-content: center;
}
.n_inner__right h2{
  color: #333;
  width: 150px;
  font-size: 18px;
  text-align: center;
  padding: 20px 20px 0px 0px;
}
.n_inner__right i{
  font-size: 30px;
  padding: 15px 20px 0px 0px;
  cursor: pointer;
}
.n_inner__left h2{
  font-size: 18px;
  width: 100px;
  padding: 20px 0px;
  font-weight: 100;
}
.n_inner__left i{
  font-size: 30px;
  color: #fff;
  padding: 15px 20px 0px 0px;
}
.swiper-slide a{
  color: #fff;  
}

.s_notice {width: 100%;height: 62px;}
.s_notice .swiper-slide {
  background-color: rgb(51,51,51);
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/* 프로모션 서식 */

.promotion{
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #f6f5ef;
  position: relative;
  transition: 0.4s;
  height: 663px;
}
.hide{
  height: 0px !important;
}
.promotion > h2{display: none;}
.proSlide{
  position: relative;
  width: calc(819px * 3 + 10px * 2);
  flex-shrink: 0;
  height: 653px;
}
.promotion .swiper-slide{
  text-align: center;
  position: relative;
  opacity: .5;
  transition: opacitiy 1s;
}
.promotion .swiper-slide-active{
  opacity: 1;
}
.promotion .swiper-slide .btn{
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: 0px auto;
  color: #000;
  border: 1px solid black;
}
.promotion .swiper-slide .btn:hover{
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next{
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  top: 300px;
  z-index: 1;
  color: #333;
}
.promotion .swiper-button-prev{
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next{
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover{
  background-color: #333;
  color: #fff;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after{
  display: none;
}

.reward{
  height: 241px;
  background: rgb(39,39,39);
  background: linear-gradient(90deg, rgba(39,39,39,1) 51%, rgba(213,199,152,1)  55%);
}
.reward_inner{
  background-image: url('../images/rewards.jpg');
  width: 1100px;
  height: 241px;
  margin: 0px auto;
  position: relative;
}
.btn_group{
  position: absolute;
  right: -100px;
  bottom: 30px;
  width: 400px;
  /* border: 3px solid #f00;    */
}
.gift{
  width: 260px;
}
.btn_join,.btn_login{
  display: inline-block !important;
  margin-bottom: 10px;
  width: 116px;
}
.gift:hover,.btn_join:hover,.btn_login:hover{
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 2px solid rgb(0, 0, 0);
}

/* 영상콘텐츠 */
.movie{
  width: 100%;
  height: 700px;
  background: #222;
  background-image: url('../images/video_cover_pattern.png');
  position: relative;
}
.movie .m_inner{
  width: 1100px;height: 700px;
  margin: 0px auto;
  /* border: 3px solid #ff0; */
  position: relative;
  z-index: 11;
}
.movie .m_inner img{
  position: absolute;
}
.m_img1{left: -60px;top: 30px;}
.m_img2{left: 40px;top: 400px;}
.m_img3{right: 0px; bottom: -60px;}

.youtube{
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 0px;left: 0px;
  /* background: #ff0; */
  z-index: 10;
  overflow: hidden;
}
.youtube video{
  width: 100%;
  transform: translateY(-50px);
}
.cover{
  position: absolute;
  top: 0px;left: 0px;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-image: url('../images/video_cover_pattern.png');
}

/* 아이스커피 블랜드 */
.season-product{
  background: url('../images/season_product_bg.jpg');
  height: 400px;
}
.inner{
  position: relative;
  width: 1100px;
  margin: 0px auto;
}
.season-product .coffee01{
  position: absolute;
}
.season-product .txt_group{
  position: absolute;
  top: 120px;
  right: 100px;
  width: 480px;
  text-align: left;
}

.season-product .txt_group .title{
  /* margin-bottom: 10px; */
  transform: translateY(-30px);
}
.season-product .description{
  /* margin-bottom: 15px; */
  transform: translateY(70px);
}

.txt_group .btn{
  /* display: none; */
  transform: translateY(100px);
}
.season-product h2{
  display: none;
}